<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

>
<head th:fragment="header">
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>

    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
    ></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><i class="fas fa-cookie-bite"></i> Recipe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/registered/recipes}">Recipes</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/registered/recipe_form}">New Recipes</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/registered/comments}">Ratings</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/registered/recipes/favourites}">Favourites</a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/auth/register}">Register</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout} ">Log out</a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link active" aria-current="page" th:href="@{/auth/loginForm}">Log In</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="isAuthenticated()" aria-current="page"
                       th:href="@{/meal_plan}">Meal Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="isAuthenticated()" aria-current="page"
                       th:href="@{/registered/recipes/myprofile}">My Profile</a>
                </li>


            </ul>

        </div>
    </div>
</nav>
</body>
</html>